<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>project</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Black.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Thin.ttf</string>
		<string>Metropolis-Black.otf</string>
		<string>Metropolis-BlackItalic.otf</string>
		<string>Metropolis-Bold.otf</string>
		<string>Metropolis-BoldItalic.otf</string>
		<string>Metropolis-ExtraBold.otf</string>
		<string>Metropolis-ExtraBoldItalic.otf</string>
		<string>Metropolis-ExtraLight.otf</string>
		<string>Metropolis-ExtraLightItalic.otf</string>
		<string>Metropolis-Light.otf</string>
		<string>Metropolis-LightItalic.otf</string>
		<string>Metropolis-Medium.otf</string>
		<string>Metropolis-MediumItalic.otf</string>
		<string>Metropolis-Regular.otf</string>
		<string>Metropolis-RegularItalic.otf</string>
		<string>Metropolis-SemiBold.otf</string>
		<string>Metropolis-SemiBoldItalic.otf</string>
		<string>Metropolis-Thin.otf</string>
		<string>Metropolis-ThinItalic.otf</string>
		<string>GTWalsheimPro-Black.ttf</string>
		<string>GTWalsheimPro-Black.woff</string>
		<string>GTWalsheimPro-Black.woff2</string>
		<string>GTWalsheimPro-BlackOblique.ttf</string>
		<string>GTWalsheimPro-BlackOblique.woff</string>
		<string>GTWalsheimPro-BlackOblique.woff2</string>
		<string>GTWalsheimPro-Bold.ttf</string>
		<string>GTWalsheimPro-Bold.woff</string>
		<string>GTWalsheimPro-Bold.woff2</string>
		<string>GTWalsheimPro-BoldOblique.ttf</string>
		<string>GTWalsheimPro-BoldOblique.woff</string>
		<string>GTWalsheimPro-BoldOblique.woff2</string>
		<string>GTWalsheimPro-CondensedBlack.ttf</string>
		<string>GTWalsheimPro-CondensedBlack.woff</string>
		<string>GTWalsheimPro-CondensedBlack.woff2</string>
		<string>GTWalsheimPro-CondensedBlackOblique.ttf</string>
		<string>GTWalsheimPro-CondensedBlackOblique.woff</string>
		<string>GTWalsheimPro-CondensedBlackOblique.woff2</string>
		<string>GTWalsheimPro-CondensedBold.ttf</string>
		<string>GTWalsheimPro-CondensedBold.woff</string>
		<string>GTWalsheimPro-CondensedBold.woff2</string>
		<string>GTWalsheimPro-CondensedBoldOblique.ttf</string>
		<string>GTWalsheimPro-CondensedBoldOblique.woff</string>
		<string>GTWalsheimPro-CondensedBoldOblique.woff2</string>
		<string>GTWalsheimPro-CondensedLight.ttf</string>
		<string>GTWalsheimPro-CondensedLight.woff</string>
		<string>GTWalsheimPro-CondensedLight.woff2</string>
		<string>GTWalsheimPro-CondensedLightOblique.ttf</string>
		<string>GTWalsheimPro-CondensedLightOblique.woff</string>
		<string>GTWalsheimPro-CondensedLightOblique.woff2</string>
		<string>GTWalsheimPro-CondensedMedium.ttf</string>
		<string>GTWalsheimPro-CondensedMedium.woff</string>
		<string>GTWalsheimPro-CondensedMedium.woff2</string>
		<string>GTWalsheimPro-CondensedMediumOblique.ttf</string>
		<string>GTWalsheimPro-CondensedMediumOblique.woff</string>
		<string>GTWalsheimPro-CondensedMediumOblique.woff2</string>
		<string>GTWalsheimPro-CondensedRegular.ttf</string>
		<string>GTWalsheimPro-CondensedRegular.woff</string>
		<string>GTWalsheimPro-CondensedRegular.woff2</string>
		<string>GTWalsheimPro-CondensedRegularOblique.ttf</string>
		<string>GTWalsheimPro-CondensedRegularOblique.woff</string>
		<string>GTWalsheimPro-CondensedRegularOblique.woff2</string>
		<string>GTWalsheimPro-CondensedThin.ttf</string>
		<string>GTWalsheimPro-CondensedThin.woff</string>
		<string>GTWalsheimPro-CondensedThin.woff2</string>
		<string>GTWalsheimPro-CondensedThinOblique.ttf</string>
		<string>GTWalsheimPro-CondensedThinOblique.woff</string>
		<string>GTWalsheimPro-CondensedThinOblique.woff2</string>
		<string>GTWalsheimPro-CondensedUltraBold.ttf</string>
		<string>GTWalsheimPro-CondensedUltraBold.woff</string>
		<string>GTWalsheimPro-CondensedUltraBold.woff2</string>
		<string>GTWalsheimPro-CondensedUltraBoldOblique.ttf</string>
		<string>GTWalsheimPro-CondensedUltraBoldOblique.woff</string>
		<string>GTWalsheimPro-CondensedUltraBoldOblique.woff2</string>
		<string>GTWalsheimPro-CondensedUltraLight.ttf</string>
		<string>GTWalsheimPro-CondensedUltraLight.woff</string>
		<string>GTWalsheimPro-CondensedUltraLight.woff2</string>
		<string>GTWalsheimPro-CondensedUltraLightOblique.ttf</string>
		<string>GTWalsheimPro-CondensedUltraLightOblique.woff</string>
		<string>GTWalsheimPro-CondensedUltraLightOblique.woff2</string>
		<string>GTWalsheimPro-Light.ttf</string>
		<string>GTWalsheimPro-Light.woff</string>
		<string>GTWalsheimPro-Light.woff2</string>
		<string>GTWalsheimPro-LightOblique.ttf</string>
		<string>GTWalsheimPro-LightOblique.woff</string>
		<string>GTWalsheimPro-LightOblique.woff2</string>
		<string>GTWalsheimPro-Medium.ttf</string>
		<string>GTWalsheimPro-Medium.woff</string>
		<string>GTWalsheimPro-Medium.woff2</string>
		<string>GTWalsheimPro-MediumOblique.ttf</string>
		<string>GTWalsheimPro-MediumOblique.woff</string>
		<string>GTWalsheimPro-MediumOblique.woff2</string>
		<string>GTWalsheimPro-Regular.ttf</string>
		<string>GTWalsheimPro-Regular.woff</string>
		<string>GTWalsheimPro-Regular.woff2</string>
		<string>GTWalsheimPro-RegularOblique.ttf</string>
		<string>GTWalsheimPro-RegularOblique.woff</string>
		<string>GTWalsheimPro-RegularOblique.woff2</string>
		<string>GTWalsheimPro-Thin.ttf</string>
		<string>GTWalsheimPro-Thin.woff</string>
		<string>GTWalsheimPro-Thin.woff2</string>
		<string>GTWalsheimPro-ThinOblique.ttf</string>
		<string>GTWalsheimPro-ThinOblique.woff</string>
		<string>GTWalsheimPro-ThinOblique.woff2</string>
		<string>GTWalsheimPro-UltraBold.ttf</string>
		<string>GTWalsheimPro-UltraBold.woff</string>
		<string>GTWalsheimPro-UltraBold.woff2</string>
		<string>GTWalsheimPro-UltraBoldOblique.ttf</string>
		<string>GTWalsheimPro-UltraBoldOblique.woff</string>
		<string>GTWalsheimPro-UltraBoldOblique.woff2</string>
		<string>GTWalsheimPro-UltraLight.ttf</string>
		<string>GTWalsheimPro-UltraLight.woff</string>
		<string>GTWalsheimPro-UltraLight.woff2</string>
		<string>GTWalsheimPro-UltraLightOblique.ttf</string>
		<string>GTWalsheimPro-UltraLightOblique.woff</string>
		<string>GTWalsheimPro-UltraLightOblique.woff2</string>
	</array>
</dict>
</plist>
